.contact
  margin: 0 auto
  text-align: center
  color: #fff
  padding-top: 55px
  background-color: #102e4a

  h1
    padding-top: 30px
    padding-bottom: 20px
    width: auto
    margin: 0
    font-size: 4rem
    @media (max-width: 850px)
      font-size: 2.5rem

  a
    font-weight: 300
    text-decoration: none
    color: rgb(236, 184, 7)
    padding-top: 20px
    margin: 0 auto
    max-width: 80%
    text-align: left
    font-size: 23px
    line-height: 1.25em
