header
  margin: 0 auto
  text-align: center
  padding-top: 10px
  padding-bottom: 140px
  background-color: #102e4a
  @media (max-width: 775px)
    padding-bottom: 70px

  img
    margin-top: 140px
    height: 150px
    width: 150px
    border-radius: 50%
    @media (max-width: 775px)
      margin-top: 90px

  h1
    width: auto
    margin: 0
    color: #fff
    font-size: 4rem
    @media (max-width: 775px)
      font-size: 50px

  p
    width: auto
    font-size: 1.5rem
    font-weight: 700
    color: rgb(236, 184, 7)
    margin-top: 0
    margin-bottom: 30px
    @media (max-width: 775px)
      margin-bottom: 0
