header
  margin: 0 auto
  text-align: center
  padding-top: 10px
  padding-bottom: 140px
  background-color: #102e4a
  @media (max-width: 775px)
    padding-bottom: 70px

  img
    margin-top: 140px
    height: 150px
    width: 150px
    border-radius: 50%
    @media (max-width: 775px)
      margin-top: 90px

  h1
    width: auto
    margin: 0 0.5rem
    color: #fff
    font-size: 4rem
    @media (max-width: 775px)
      font-size: 2rem

  h2
    width: auto
    font-weight: 500
    color: rgb(236, 184, 7)
    margin-top: 0
    margin-bottom: 30px
    margin-left: 0.5rem
    margin-right: 0.5rem
    @media (max-width: 775px)
      margin-bottom: 0
      font-size: 1.25rem