.header
  margin: 65px 0 0 0
  text-align: center
  height: 100vh
  width: 100%
  background: url("../img/background1.jpg") no-repeat
  background-size: auto
  background-color: #fff
  @media(min-width: 1500px)
    text-align: left
    background: url("../img/header-bg.jpg") no-repeat
    background-size: 100%
    background-color: #fff
    background-position: bottom right
    padding-top: 0

  .rect
    width: 100%
    height: 100vh
    background-color: rgba(0,0,0,.65)

  img
    height: 0
    width: 0

    @media(max-width: 1499px)
      display: block
      margin: 0 auto
      height: 300px
      width: 300px
      border-radius: 50%

  h1
    z-index: 99
    margin: 0 30px
    color: #2e5266
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff
    font-size: 15vmin
    @media(min-width: 1500px)
      padding-top: 35vh
    @media(max-width: 875px)
      font-size: 12vmin
    @media(max-width: 500px)
      font-size: 9vmin

  h2
    z-index: 99
    margin: 0 30px
    font-size: 4vmin
    font-weight: 600
    color: rgb(236, 184, 7)