nav
  display: flex
  justify-content: space-between
  background-color: #1d809f
  align-items: center
  padding-left: 20px
  padding-right: 20px

  ul
    list-style: none

    li
      display: inline-block
      margin-right: 8px

      a
        text-decoration: none
        color: #fff

.logo
  font-size: 30px
  color: #fff
