nav
  display: flex
  justify-content: space-between
  background-color: #102e4a
  align-items: center
  padding-left: 20px
  padding-right: 20px
  height: 60px

  ul
    list-style: none

    li
      display: inline-block
      margin-right: 12px

      a
        text-decoration: none
        color: #fff
        font-weight: 600
        font-size: 20px

.logo
    background:
      image: url(../img/logo.png)
      repeat: no-repeat
      size: contain
    height: 80%
    width: 60vh

    text-indent: 100%
    white-space: nowrap
    overflow: hidden
