.notes
  margin: 0 auto
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  height: 100vh
  background-color: #2e5266

  .rect
    margin: auto
    padding: 30px 0
    width: 65%
    height: auto
    background-color: rgba(0,0,0,.65)
    border-radius: 1rem

    h1
      margin: 0 0.5rem
      font-size: 3.5rem
      color: #fff
      @media (max-width: 775px)
        font-size: 3rem
      @media (max-width: 450px)
        font-size: 2rem

    p
      margin-left: 0.5rem
      margin-right: 0.5rem
      margin-top: 10px
      margin-bottom: 8px
      line-height: 1.2
      font-size: 20px
      color: rgb(236, 184, 7)

  .col-1
    display: inline-flex
    text-align: right
    max-width: 50vh
    margin: 0 10px
    @media (max-width: 1025px)
      text-align: left

  .col-2
    padding-left: 15px
    border-left-color: white
    border-left-style: solid
    display: inline-flex
    text-align: left
    max-width: 50vh
    margin: 0 10px
    @media(max-width: 1025px)
      border: none
      padding: 0

    ul
      list-style: none
      margin: 0
      padding-left: 15px
      font-weight: 500
      display: inline-block
      @media (max-width: 950px)
        display: block

      li
        a
          background-color: transparent
          padding: 0
          display: flex
          text-decoration: none
          margin-top: 10px
          margin-bottom: 8px
          line-height: 1.2
          font-size: 20px
          color: rgb(236, 184, 7)

  button
    margin: 30px 0
    background: #2e5266
    color: #fff
    border: none
    border-radius: 0.5rem
    position: relative
    height: 60px
    font-weight: 500
    font-size: 1.6em
    cursor: pointer
    transition: 800ms ease all
    outline: none
    &:hover
      background: #fff
      color: #2e5266
    &:before, &:after
      content: ''
      position: absolute
      top: 0
      right: 0
      height: 2px
      width: 0
      background: #2e5266
      transition: 400ms ease all
    &:after
      right: inherit
      top: inherit
      left: 0
      bottom: 0
    &:hover:before, &:hover:after
      width: 100%
      transition: 800ms ease all
