.projects
  background-color: #102e4a
  padding-top: 40px
  padding-bottom: 50px
  text-align: center

  h1
    font-size: 4rem
    color: #fff
    margin: 30px 0.25rem
    margin-top: 0
    @media (max-width: 775px)
      font-size: 2rem

  h2
    text-transform: uppercase
    color: rgb(236, 184, 7)
    font-weight: 500
    margin: 0
    padding: 0

  .row
    display: flex
    justify-content: space-around
    padding: 0 30px
    @media (max-width: 700px)
      display: block
      justify-content: center

    .proj
      margin-left: auto
      margin-right: auto
      max-width: 20%
      @media (max-width: 700px)
        max-width: 80%

    span
      margin-top: 20px
      background-color: #fff
      width: 112px
      height: 112px
      display: inline-block
      border-radius: 50%
      font-size: 50px
      line-height: 120px

      a
        color: #102e4a

    h4
      margin-bottom: 8px
      line-height: 1.2
      font-size: 24px
      color: #fff
      @media(max-width: 880px)
        font-size: 22px

    p
      font-size: 18px
      color: #fff
      margin: 0
      @media (max-width: 880px)
        font-size: 16px
      @media (max-width: 700px)
        font-size: 18px

.github-link
  color: rgb(236, 184, 7)
  text-decoration: none

.react-logo
  animation-name: spin
  animation-duration: 10000ms
  animation-iteration-count: infinite
  animation-timing-function: linear

@keyframes spin
  from
      transform: rotate(0deg)
  to
      transform: rotate(360deg)