.resume
  margin: 0 auto
  text-align: center
  color: #fff
  padding-top: 60px
  background-color: #fff
  overflow-x: hidden

  .rect
    padding-top: 30px
    padding-bottom: 30px
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,.65)

  img
    width: 60%
    padding-bottom: 50px
    @media (max-width: 875px)
      width: 80%
    @media (max-width: 450px)
      padding-bottom: 120px
    @media (max-width: 350px)
      padding-bottom: 150px

  button
    margin-bottom: 30px
    background: #2e5266
    color: #fff
    border: none
    border-radius: 0.5rem
    position: relative
    height: 60px
    font-weight: 500
    font-size: 1.6em
    cursor: pointer
    transition: 800ms ease all
    outline: none
    &:hover
      background: #fff
      color: #2e5266
    &:before, &:after
      content: ''
      position: absolute
      top: 0
      right: 0
      height: 2px
      width: 0
      background:#2e5266
      transition: 400ms ease all
    &:after
      right: inherit
      top: inherit
      left: 0
      bottom: 0
    &:hover:before, &:hover:after
      width: 100%
      transition: 800ms ease all
