.resume
  margin: 0 auto
  text-align: center
  color: #fff
  padding-top: 90px
  padding-bottom: 30px
  background-color: #102e4a

  img
    border-radius: 0.5rem
    width: 90%
    @media (max-width: 450px)
      padding-bottom: 120px
    @media (max-width: 350px)
      padding-bottom: 150px

  button
    margin-bottom: 30px
    background: #102e4a
    color: #fff
    border: none
    border-radius: 0.5rem
    position: relative
    height: 60px
    font-weight: 600
    font-size: 1.6em
    cursor: pointer
    transition: 800ms ease all
    outline: none
    &:hover
      background: #fff
      color: #102e4a
    &:before, &:after
      content: ''
      position: absolute
      top: 0
      right: 0
      height: 2px
      width: 0
      background: #102e4a
      transition: 400ms ease all
    &:after
      right: inherit
      top: inherit
      left: 0
      bottom: 0
    &:hover:before, &:hover:after
      width: 100%
      transition: 800ms ease all
