.gba
  margin: 0 auto
  text-align: center
  color: #fff
  padding-top: 55px

  .rect
    margin-left: auto
    margin-right: auto
    width: 90%
    height: 90%
    background-color: rgba(0,0,0,.65)
    border-radius: .5rem

    .head
      img
        margin-bottom: 30px

      div
        margin: auto auto
        margin-bottom: 30px

        a
          text-decoration: none
          color: rgb(236, 184, 7)
          font-size: 24px

    h1
      padding-top: 30px
      padding-bottom: 20px
      width: auto
      margin: 0
      font-size: 48px

      span
        color: rgb(236, 184, 7)

    p
      padding-top: 20px
      margin: 0 auto
      max-width: 80%
      text-align: left
      font-size: 24px
      line-height: 1.25em
