.skills
  margin: 0 auto
  text-align: center
  padding-top: 100px
  padding-bottom: 100px

  img
    height: 150px
    width: 150px
    border-radius: 50%

  h1
    margin: 0
    font-size: 4rem
    color: #fff

  .row
    margin-top: 50px
    margin-left: 30px
    margin-right: 30px
    display: block
    justify-content: space-around
    column-count: 3
    padding: 25px 25px
    border-radius: 0.5rem
    background-color: rgba(0, 0, 0, .65)
    @media (max-width: 850px)
      column-count: 1

    .subrow
      span
        color: white
        line-height: 60px
        font-size: 40px
        i
          padding-top: 25px

      h4
        margin-top: 10px
        margin-bottom: 8px
        line-height: 1.2
        font-size: 24px
        color: rgb(236, 184, 7)

      ul
        list-style: none
        padding: 0
        li
          text-align: left
          font-size: 20px
          font-weight: 400
          color: #fff
          margin: 0
          @media (max-width: 850px)
            text-align: center

  a
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1)
    font-weight: 600
    background-color: #102e4a
    border-color: #102e4a
    color: #fff
    padding: 1.25rem 2.5rem
    margin-top: 50px
    font-size: 20px
    text-decoration: none
    border-radius: .5rem
    display: inline-block
