.social
  background-color: #fff
  padding: 50px 30px
  text-align: center

  h2
    font-size: 48px
    color: #102e4a
    margin-bottom: 48px
    margin-top: 0

  h3
    font-size: 22px
    text-transform: uppercase
    color: rgb(236, 184, 7)
    margin: 0
    padding: 0

  .row
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-around

  span
    background-color: #102e4a
    width: 112px
    height: 112px
    margin: 0 50px
    display: block
    border-radius: 50%
    font-size: 80px
    line-height: 120px
  .github
    a
      color: #f1502f
  .linkedin
    a
      color: #0077B5
  .dribbble
    a
      color: #ea4c89
  .instagram
    a
      color: #c13584
  .spotify
    a
      color: #1ed761
  .letterboxd
    a
      color: #ffae42

  h4
    margin-bottom: 30px
    line-height: 0.5
    font-size: 18px
    color: #102e4a
